<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>

      <source name="System.Windows.Data" switchName="SourceSwitch">
        <listeners>
          <!--<add name="textListener" />-->
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="SourceSwitch" value="All"/>
    </switches>

    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.txt"/>
    </sharedListeners>

    <trace autoflush="true"/>

  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
